<mat-toolbar class="bg-blue-600 text-white flex flex-row justify-between">
  <span>PokeApp</span>
  <div>
    <a mat-button class="p-2 flex flex-row" routerLink="/pokedex">
      <mat-icon>radio_button_checked</mat-icon>
      <span class="hidden sm:inline">
        Contact
      </span>
    </a>
    <a mat-button class="p-2 flex flex-row" routerLink="/about">
      <mat-icon>contact_mail</mat-icon>
      <span class="hidden sm:inline">
        Contact
      </span>
    </a>
  </div>
</mat-toolbar>
